  
 <h1>Create a Team and Heros!</h1>

<form method="POST" action="/team">
  <label for="tn">Team Name:</label>
  <input type="text" id="team_name" name='tn'>
</form>


<form method="POST" action="/team">
  <label for="tm">Team Motto:</label>
  <input type="text" name='tm'>
  
</form>

<h2>Hero 1</h2>

<form method="POST" action="/team">
  <label for="hn1">Hero's Name:</label>
  <input type="text"  name='hn1'>
</form>

<form method="POST" action="/team">
  <label for="hp1">Hero's Power:</label>
  <input type="text"   name='hp1'>
</form>

<form method="POST" action="/team">
  <label for="hb1">Hero's Biography:</label>
  <input type="text"   name='hb1'>
</form>

<h2>Hero 2</h2>

<form method="POST" action="/team">
  <label for="hn2">Hero's Name:</label>
  <input type="text"  name='hn2'>
</form>

<form method="POST" action="/team">
  <label for="hp2">Hero's Power:</label>
  <input type="text"   name='hp2'>
</form>

<form method="POST" action="/team">
  <label for="hb2">Hero's Biography:</label>
  <input type="text"   name='hb2'>
</form>

<h2>Hero 3</h2>

<form method="POST" action="/team">
  <label for="hn3">Hero's Name:</label>
  <input type="text"  name='hn3'>
</form>

<form method="POST" action="/team">
  <label for="hp3">Hero's Power:</label>
  <input type="text"   name='hp3'>
</form>

<form method="POST" action="/team">
  <label for="hb3">Hero's Biography:</label>
  <input type="text"   name='hb3'>
</form>


<input type="submit" value="Smash this">

 